In [1]:
import numpy as np 
import pandas as pd

In [2]:
books = pd.read_csv("bookprice.csv")

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      4058 non-null   object
 1   Authors                   4014 non-null   object
 2   Price                     2666 non-null   object
 3   Image-url                 4058 non-null   object
 4   Rating                    1253 non-null   float64
 5   NumberOfPages             3918 non-null   object
 6   Format                    4058 non-null   object
 7   Publication date          4022 non-null   object
 8   Publisher                 4055 non-null   object
 9   Publication City/Country  2355 non-null   object
 10  Dimensions                3832 non-null   object
 11  Language                  3712 non-null   object
 12  ISBN10                    3779 non-null   object
 13  ISBN13                    4058 non-null   int64
dtypes: float64(1), int64(1), object(12)
memory usage: 444.0+ KB

# Price

In [4]:
books.Price

0       NT$2,009
1       NT$2,357
2       NT$3,038
3       NT$2,418
4       NT$1,040
          ...
4053         NaN
4054         NaN
4055         NaN
4056         NaN
4057         NaN
Name: Price, Length: 4058, dtype: object

In [5]:
books["Price"] = books.Price.str.extract(r"([0-9]+,*[0-9]+)")

In [6]:
books["Price"] = books["Price"].str.replace(",", "").astype(float)

In [7]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      4058 non-null   object
 1   Authors                   4014 non-null   object
 2   Price                     2666 non-null   float64
 3   Image-url                 4058 non-null   object
 4   Rating                    1253 non-null   float64
 5   NumberOfPages             3918 non-null   object
 6   Format                    4058 non-null   object
 7   Publication date          4022 non-null   object
 8   Publisher                 4055 non-null   object
 9   Publication City/Country  2355 non-null   object
 10  Dimensions                3832 non-null   object
 11  Language                  3712 non-null   object
 12  ISBN10                    3779 non-null   object
 13  ISBN13                    4058 non-null   int64
dtypes: float64(2), int64(1), object(11)
memory usage: 444.0+ KB

# Number of pages

In [8]:
books["NumberOfPages"] = books.NumberOfPages.str.extract(r"([0-9]+)").astype(float)

In [9]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      4058 non-null   object
 1   Authors                   4014 non-null   object
 2   Price                     2666 non-null   float64
 3   Image-url                 4058 non-null   object
 4   Rating                    1253 non-null   float64
 5   NumberOfPages             3918 non-null   float64
 6   Format                    4058 non-null   object
 7   Publication date          4022 non-null   object
 8   Publisher                 4055 non-null   object
 9   Publication City/Country  2355 non-null   object
 10  Dimensions                3832 non-null   object
 11  Language                  3712 non-null   object
 12  ISBN10                    3779 non-null   object
 13  ISBN13                    4058 non-null   int64
dtypes: float64(3), int64(1), object(10)
memory usage: 444.0+ KB

# Format

In [10]:
books.Format[0]

'\n                                Hardback\n                                    | 426 pages\n\n'

In [11]:
def get_format(string):
    if string is np.nan:
        return None
    string = string.split()
    return string[0]

In [12]:
books['Format'] = books.Format.apply(get_format)

In [13]:
books.Format.unique()

array(['Hardback', 'Paperback'], dtype=object)

# Publication Date

In [14]:
books["Publication date"] = books['Publication date'].astype('datetime64')

In [15]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      4058 non-null   object
 1   Authors                   4014 non-null   object
 2   Price                     2666 non-null   float64
 3   Image-url                 4058 non-null   object
 4   Rating                    1253 non-null   float64
 5   NumberOfPages             3918 non-null   float64
 6   Format                    4058 non-null   object
 7   Publication date          4022 non-null   datetime64[ns]
 8   Publisher                 4055 non-null   object
 9   Publication City/Country  2355 non-null   object
 10  Dimensions                3832 non-null   object
 11  Language                  3712 non-null   object
 12  ISBN10                    3779 non-null   object
 13  ISBN13                    4058 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(9)
memory usage: 444.0+ KB

# Publisher

In [16]:
books["Publisher"] = books["Publisher"].str.strip()

In [17]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      4058 non-null   object
 1   Authors                   4014 non-null   object
 2   Price                     2666 non-null   float64
 3   Image-url                 4058 non-null   object
 4   Rating                    1253 non-null   float64
 5   NumberOfPages             3918 non-null   float64
 6   Format                    4058 non-null   object
 7   Publication date          4022 non-null   datetime64[ns]
 8   Publisher                 4055 non-null   object
 9   Publication City/Country  2355 non-null   object
 10  Dimensions                3832 non-null   object
 11  Language                  3712 non-null   object
 12  ISBN10                    3779 non-null   object
 13  ISBN13                    4058 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(9)
memory usage: 444.0+ KB

# Publication City/Country

In [18]:
books["Publication City/Country"][:5]

0    \n                                New York, NY...
1    \n                                New York, NY...
2    \n                                New York, NY...
3    \n                                Cambridge, U...
4    \n                                New York, Un...
Name: Publication City/Country, dtype: object

In [19]:
books["Publication City/Country"] = books["Publication City/Country"].str.strip()

In [20]:
books["Publication City/Country"].unique()[:30]

array(['New York, NY, United States', 'Cambridge, United States',
       'New York, United States', 'Cambridge, United Kingdom', nan,
       'Cham, Switzerland', 'Bosa Roca, United States',
       'Portland, United States', 'London, United Kingdom',
       'OH, United States', 'United States', 'Washington, United States',
       'San Diego, United States', 'New Jersey, United States',
       'Singapore, Singapore', 'Boston, United States',
       'Bristol, United Kingdom', 'San Francisco, United States',
       'Hoboken, United States', 'Oxford, United Kingdom',
       'Bingley, United Kingdom', 'Berlin, Germany',
       'England, United Kingdom', 'Hershey, United States',
       'Oakville, Canada', 'San Rafael, United States',
       'Dordrecht, Netherlands', 'Stevenage, United Kingdom',
       'Chicago, IL, United States', 'Maryland, United States'],
      dtype=object)

In [21]:
publication_cols = ["Publication City", "Publication Country"]
books[publication_cols] = books["Publication City/Country"].str.extract(r"(.*), (.*)")

In [22]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      4058 non-null   object
 1   Authors                   4014 non-null   object
 2   Price                     2666 non-null   float64
 3   Image-url                 4058 non-null   object
 4   Rating                    1253 non-null   float64
 5   NumberOfPages             3918 non-null   float64
 6   Format                    4058 non-null   object
 7   Publication date          4022 non-null   datetime64[ns]
 8   Publisher                 4055 non-null   object
 9   Publication City/Country  2355 non-null   object
 10  Dimensions                3832 non-null   object
 11  Language                  3712 non-null   object
 12  ISBN10                    3779 non-null   object
 13  ISBN13                    4058 non-null   int64
 14  Publication City          1928 non-null   object
 15  Publication Country       1928 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(11)
memory usage: 507.4+ KB

In [23]:
books.drop("Publication City/Country", axis=1, inplace=True)

# Dimension

In [24]:
books.Dimensions[0]

'\n                                155\n                                    x 235\n                                    x 25.4mm\n                                \n                                    | 1,014g\n                                '

**Remove newline and space**

In [25]:
books["Dimensions"] = books.Dimensions.str.replace(r'(\n)( +)', " ")

**Width, Length, Height, and Weight**

In [26]:
books.Dimensions[0:2]

0         155 x 235 x 25.4mm  | 1,014g
1     155 x 235 x 35.56mm  | 1,179.34g
Name: Dimensions, dtype: object

In [27]:
regex = r"([0-9]+.*[0-9]*) x ([0-9]+) x ([0-9]+[\.0-9]*)mm *\| *(.*)g"
dim_cols = ["Width", "Height", "Thickness", "Weight"]
books[dim_cols] = books.Dimensions.str.extract(regex)

In [28]:
books.Dimensions.str.extract(regex)

        0    1      2         3
0     155  235   25.4     1,014
1     155  235  35.56  1,179.34
2     178  254  34.29     2,147
3     178  229     32  1,270.06
4     155  238     25       726
...   ...  ...    ...       ...
4053  203  254      4       150
4054  203  254     11       336
4055  189  246      1        68
4056  NaN  NaN    NaN       NaN
4057  NaN  NaN    NaN       NaN

[4058 rows x 4 columns]

In [29]:
books["Weight"] = books["Weight"].str.replace(",", "")
books[dim_cols] = books[dim_cols].astype(float)

In [30]:
books[dim_cols].head()

   Width  Height  Thickness   Weight
0  155.0   235.0      25.40  1014.00
1  155.0   235.0      35.56  1179.34
2  178.0   254.0      34.29  2147.00
3  178.0   229.0      32.00  1270.06
4  155.0   238.0      25.00   726.00

In [31]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 4058 non-null   object
 1   Authors              4014 non-null   object
 2   Price                2666 non-null   float64
 3   Image-url            4058 non-null   object
 4   Rating               1253 non-null   float64
 5   NumberOfPages        3918 non-null   float64
 6   Format               4058 non-null   object
 7   Publication date     4022 non-null   datetime64[ns]
 8   Publisher            4055 non-null   object
 9   Dimensions           3832 non-null   object
 10  Language             3712 non-null   object
 11  ISBN10               3779 non-null   object
 12  ISBN13               4058 non-null   int64
 13  Publication City     1928 non-null   object
 14  Publication Country  1928 non-null   object
 15  Width                3330 non-null   float64
 16  Height               3330 non-null   float64
 17  Thickness            3330 non-null   float64
 18  Weight               3330 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(10)
memory usage: 602.5+ KB

In [32]:
books.drop("Dimensions", axis=1, inplace=True)

# Language

In [33]:
books.Language

0       \n                                English
1       \n                                English
2       \n                                English
3       \n                                English
4       \n                                English
                          ...
4053    \n                                English
4054    \n                                English
4055    \n                                English
4056                                          NaN
4057                                          NaN
Name: Language, Length: 4058, dtype: object

In [34]:
books["Language"] = books.Language.str.strip()

# Summary

In [35]:
books.head()

,Name,Authors,Price,Image-url,Rating,NumberOfPages,Format,Publication date,Publisher,Language,ISBN10,ISBN13,Publication City,Publication Country,Width,Height,Thickness,Weight
0,An Introduction to Statistical Learning : with...,"Gareth James, Daniela Witten, Trevor Hastie, R...",2009.0,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,4.61,426.0,Hardback,2017-09-01,Springer-Verlag New York Inc.,English,1461471370,9781461471370,"New York, NY",United States,155.0,235.0,25.40,1014.00
1,The Elements of Statistical Learning : Data Mi...,"Trevor Hastie, Robert Tibshirani, Jerome Friedman",2357.0,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,4.40,745.0,Hardback,2009-02-09,Springer-Verlag New York Inc.,English,0387848576,9780387848570,"New York, NY",United States,155.0,235.0,35.56,1179.34
2,Pattern Recognition and Machine Learning,Christopher M. Bishop,3038.0,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,4.30,738.0,Hardback,2011-04-06,Springer-Verlag New York Inc.,English,0387310738,9780387310732,"New York, NY",United States,178.0,254.0,34.29,2147.00
3,Deep Learning,"Ian Goodfellow, Yoshua Bengio, Aaron Courville",2418.0,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,4.44,800.0,Hardback,2017-04-18,MIT Press Ltd,English,0262035618,9780262035613,Cambridge,United States,178.0,229.0,32.00,1270.06
4,Advances in Financial Machine Learning,Marcos Lopez de Prado,1040.0,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,4.21,400.0,Hardback,2018-02-21,John Wiley & Sons Inc,English,1119482089,9781119482086,New York,United States,155.0,238.0,25.00,726.00

In [36]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 4058 non-null   object
 1   Authors              4014 non-null   object
 2   Price                2666 non-null   float64
 3   Image-url            4058 non-null   object
 4   Rating               1253 non-null   float64
 5   NumberOfPages        3918 non-null   float64
 6   Format               4058 non-null   object
 7   Publication date     4022 non-null   datetime64[ns]
 8   Publisher            4055 non-null   object
 9   Language             3712 non-null   object
 10  ISBN10               3779 non-null   object
 11  ISBN13               4058 non-null   int64
 12  Publication City     1928 non-null   object
 13  Publication Country  1928 non-null   object
 14  Width                3330 non-null   float64
 15  Height               3330 non-null   float64
 16  Thickness            3330 non-null   float64
 17  Weight               3330 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 570.8+ KB

In [38]:
#books.to_csv("bookprice_cleaned.csv", index=False)